= form_with(model: article, local: true) do |form|
  - if article.errors.any?
    #error_explanation
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .field
    = form.text_field :title
  .field
    = form.label :深く聞かせて？
    = form.rich_text_area :content
  .actions{style: "margin:3%" }
    = form.submit '飛んでけ〜', class: 'btn btn-primary'
