%p#notice= notice
%p
  = @article.title
  = @article.content
= link_to 'Destroy', @article, class: "btn btn-raised btn-danger articleButtons", method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back', root_path
